body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h4 {
    text-align: center;
}

#page-title {
    margin-top: 1.5em;
    font-family: "Bowlby One SC", Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: rgb(42, 62, 241);
}

#question-container {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgb(201, 201, 201);
}

#question {
    font-size: 2em;
    margin-bottom: 40px;
}

#question-container button {
    padding: 10px;
    padding-inline: 20px;
    width: 90px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

#true-btn {
    display: inline-block;
    position: relative;
    right: 30px;
    background-color: rgb(29, 186, 29);
    box-shadow: 0px 5px rgb(3, 141, 6);
}

#true-btn:hover {
    cursor: pointer;
    background-color: rgb(31, 219, 31);
}

#false-btn {
    display: inline-block;
    position: relative;
    left: 30px;
    background-color: rgb(202, 11, 11);
    box-shadow: 0px 5px rgb(147, 3, 3);
}

#false-btn:hover{
    cursor: pointer;
    background-color: rgb(237, 69, 69);
}

#true-btn:enabled:active, #false-btn:enabled:active, #submit-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}

button:disabled {
    background-color: grey !important;
    box-shadow: 0px 5px 0 rgb(63, 63, 63) !important;
    cursor: default !important;
}

#submit-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#submit-btn {
    display: none;
    padding: 10px;
    padding-inline: 20px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;

    font-size: 1em;
    /* background-color: rgb(); */
    background-color: rgb(59,78,254);
    box-shadow: 0 5px rgb(18, 32, 158);
}

#submit-btn:hover {
    cursor: pointer;
    background-color: rgb(93, 109, 255);
}

#results-container {
    display: none;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px !important;
}