{% extends "base.html" %}

{% block head%} 
    <title>Test</title>
{% endblock %}

{% block body %} 
    <h1 id="page-title">20 Questions Game</h1>

        
    <div id="question-container">
        <h4 id="question"></h4>
        <!-- <label for="answer-input">Enter True or False</label>
        <input type="text" name="answer-input"> -->
        <button type="button" id="true-btn" onclick="trueClick()">True</button>
        <button type="button" id="false-btn" onclick="falseClick()">False</button>
    </div>

    <div id="submit-container">
        <button type="submit" id="submit-btn" onclick="submitClick()">Submit for Results</button>
    </div>

    <div id="results-container">
        <p><span id="true-num"></span></p>

        <p>Your animal is: <span id="animal-result"></span></p>

        <div id="verify-answer">
            <p>Is this correct?</p>
            <button type="button" onclick="correctAnswer()">Yes</button>
            <button type="button" onclick="wrongAnswer()">No</button>
        </div>

        <div id="next-steps-true">
            <p>NICEEEEEE, we're never wrong.</p>
        </div>
        <div id="next-steps-false">
            <div>
                <label for="">Oh. What is the name of the animal you were thinking of?</label>
                <input type="text" placeholder="Enter animal name">
            </div>
        </div>

    </div>
{% endblock %}

