{% extends "base.html" %}

{% block head%} 
    <title>Test</title>
{% endblock %}

{% block body %} 
    <h1 id="page-title">20 Questions Game</h1>

        
    <div id="question-container">
        <h4 id="question"></h4>
        <button type="button" id="true-btn" onclick="trueClick()">Yes</button>
        <button type="button" id="false-btn" onclick="falseClick()">No</button>
    </div>

    <div id="submit-container">
        <button type="submit" id="submit-btn" onclick="submitClick()">Submit for Results</button>
    </div>

    <div id="results-container">
        <p style="margin-bottom: 0px;">Your animal is: <span id="animal-result">Wolf</span></p>

        <div id="verify-answer">
            <p style="margin-top: 0px;">Is this correct?</p>
            <button type="button" onclick="correctAnswer()" id="correct-btn">Yes</button>
            <button type="button" onclick="wrongAnswer()" id="wrong-btn">No</button>
        </div>

        <div id="next-steps-true">
            <p>Amazing!</p>
        </div>
        <div id="next-steps-false">
            <div>
                <label for="new-animal">What is the name of the animal you were thinking of?</label>
                <input type="text" name="new-animal" id="new-animal" placeholder="Enter animal name">
                <button type="button" id="new-animal-btn" onclick="addAnimal()">Submit</button>
                <p id="response"></p>
            </div>
        </div>

    </div>
    
    <div id="play-again">
        <button id="reload-btn" onclick="reloadPage()">Play Again</button>
    </div>

    
{% endblock %}

